/nbproject/private/
nbproject/project.xml
nbproject/project.properties
src/public/packages/jacopo/laravel-authentication-acl/_css/aboutagent.css
src/public/packages/jacopo/laravel-authentication-acl/_css/aboutproperty.css
src/public/packages/jacopo/laravel-authentication-acl/_css/menu.css
src/public/packages/jacopo/laravel-authentication-acl/_css/slideshow.css