.realestates-edit .img-thumb img {
  width: 200px;
  height: 200px;
}
.realestates-edit .config-map #pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}
.realestates-edit .config-map .gmap {
  height: 500px;
  width: 900px;
}
.realestates-edit .config-images .images-table .view-write {
  display: none;
}
.realestates-edit .config-images .images-table .view-read {
  display: block;
}
.realestates-edit .config-images .images-table .item_image td {
  vertical-align: middle;
}
.realestates-edit .config-images .images-table .item_image span {
  color: #5bc0de;
  background: transparent;
  cursor: pointer;
}
.realestates-edit .config-images .images-table .item_image span:hover {
  color: #4597AF;
}
.realestates-edit .config-images .images-table .item_image .img-thumb img {
  width: 40%;
  height: 40%;
}
.controls input {
  margin-bottom: 10px;
}
.control-file .del,
.control-file .undo {
  cursor: pointer;
}
.control-file .del {
  color: red;
}
.control-file .undo {
  color: #FFC107;
}
