.auto-container {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}
.sec-title {
  position: relative;
  max-width: 800px;
  margin: 0 auto 50px;
  text-align: center;
}
.sec-title h2 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #253d4a;
  line-height: 1.4em;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.sec-title h2 span.theme_color {
  margin-left: 3px;
}
.sec-title h2 .theme_color {
  color: #71b100;
}
.sec-title .text {
  color: #50575e;
  font-family: 'Bitter', serif;
  font-size: 14px;
  font-style: italic;
}
.sec-title .text p {
  position: relative;
  line-height: 1.8em;
}
.filters {
  margin: 10px 0;
}
.gallery-section .filter-tabs {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #71b100 !important;
  color: #ffffff !important;
}
.nav-tabs > li > a {
  border-radius: 0 !important;
  border: none !important;
}
.gallery-section .filter-tabs li {
  position: relative;
  background-color: #ffffff;
  display: inline-block;
  line-height: 20px;
  padding: 5px 10px;
  min-width: 80px;
  text-align: center;
  margin: 0px 0px 10px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.gallery-section .filter-tabs li a {
  color: #353535;
}
.featured_houses_block:hover {
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
.col_rent {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #F79B00;
  padding: 0 5px;
  color: #fff;
}
.featured_houses_block:hover .feature_texthouse {
  opacity: 1;
  background: rgba(255,255,255,0.8);
  height: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.featured_houses_block .feature_texthouse {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  width: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #666;
}
.feature_texthouse {
  padding-left: 30px;
}
.featured_houses_block .featured_houses_title {
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 23px;
}
.featured_houses_title a:hover {
  color: #71b100;
  text-decoration: none;
}
.featured_houses_location {
  margin-bottom: 10px;
}
.fa-map-marker:before {
  content: "\f041";
}
.featured_houses_category {
  margin-bottom: 10px;
}
.fa-tag:before {
  content: "\f02b";
}
.featured_houses_block:hover .feature_texthouse .featured_houses_category a {
  color: #71b100;
}
.featured_houses_inline {
  margin-bottom: 10px;
  width: 115px;
}
.featured_houses_block .rem_house_viewlist {
  position: relative;
  z-index: 9999;
  background: #71b100;
}
.featured_houses_block:hover .rem_house_viewlist a {
  color: #000;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.featured_houses_block .rem_house_viewlist a {
  color: #ffffff;
}
.featured_houses_price,
.featured_list_price {
  display: inline-block;
}
.featured_houses_viewlisting {
  float: right;
}
.rem_house_viewlist {
  padding: 10px;
  background: #EFEFEF;
  overflow: hidden;
}
.featured_houses_block img {
  width: 100%;
}
.featured_houses_block {
  margin: 10px 0;
}
.nav-tabs > li > a {
  color: #ffffff;
}
.realestatemanager1 {
  padding: 0px !important;
}
.section-more-re {
  background-color: #fff;
  z-index: 10;
  position: relative;
}
.section-more-re a {
  text-decoration: none;
}
.section-more-re .newest-properties {
  background-color: #fcfdfd;
}
.section-more-re .padding-bottom {
  padding-bottom: 100px;
}
.section-more-re .sunhouse-title {
  text-align: center;
  margin-bottom: 60px;
}
.section-more-re .sunhouse-title .icon-image {
  margin-bottom: 12px;
}
.section-more-re .sunhouse-title .icon-image img {
  margin: 0 auto;
}
.section-more-re .sunhouse-title .main-title {
  font-size: 2.143em;
  color: #3d4448;
  font-weight: 900;
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.section-more-re .sunhouse-title .sub-title {
  color: #5e6d77;
  font-size: 1.14em;
  margin: 0;
}
.section-more-re .newest-properties .newest-properties-content {
  float: left;
  margin-top: 15px;
}
.section-more-re .newest-properties .newest-properties-content .col-md-4 {
  margin-bottom: 50px;
}
.section-more-re .sunhouse-item {
  display: block;
  float: left;
  position: relative;
  transition: all 0.5s ease;
}
.section-more-re .col-md-4 .sunhouse-item .wrapper-image {
  height: 220px;
}
.section-more-re .sunhouse-item .wrapper-image {
  position: relative;
  display: block;
}
.section-more-re .sunhouse-item .wrapper-image img {
  width: 100%;
  height: 100%;
}
.section-more-re .img-responsive {
  display: block;
  max-width: 100%;
}
.section-more-re .sunhouse-item .wrapper-image .layout-2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s ease;
}
.section-more-re .sunhouse-item:hover {
  box-shadow: 0 0 25px rgba(0,0,0,0.1);
}
.section-more-re .sunhouse-item:hover .wrapper-image .layout-2 {
  opacity: 1;
}
.section-more-re .sunhouse-item .note.for-sale {
  background-color: #71b100;
}
.section-more-re .sunhouse-item .note {
  width: 56px;
  height: 56px;
  color: #fff;
  position: absolute;
  right: 15px;
  top: -15px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  display: table;
  z-index: 2;
}
.section-more-re .sunhouse-item .note .text {
  line-height: 1.145em;
  margin-bottom: 0;
  display: table-cell;
  vertical-align: middle;
}
.section-more-re .sunhouse-item .wrapper-content {
  border: 1px solid #efefef;
  float: left;
  text-align: left;
  width: 100%;
}
.section-more-re .sunhouse-item .wrapper-content .info-house {
  border-bottom: 1px solid #efefef;
}
.section-more-re .sunhouse-item .info-house {
  line-height: 1;
  padding: 15px 15px 5px;
}
.section-more-re .info {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
}
.section-more-re .info:last-child {
  margin-right: 0;
}
.section-more-re .icon-house_1:before {
  content: "\e91b";
}
.section-more-re .info i.icon-bed {
  font-size: 1.3em;
  position: relative;
  top: 2px;
}
.section-more-re .icon-bed:before {
  content: "\e905";
}
.section-more-re .icon-bath:before {
  content: "\e904";
}
.section-more-re .info p {
  margin: 0;
  padding-left: 5px;
  font-size: 0.929em;
  display: inline-block;
}
.section-more-re .sunhouse-item .note.for-rent {
  background-color: #71b100;
}
.section-more-re .sunhouse-item .about-house {
  padding: 15px;
}
.section-more-re .sunhouse-item .about-house .title {
  color: #348d36;
  font-size: 1.43em;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 10px;
  display: inline-block;
  transition: all 0.2s ease;
}
.section-more-re .sunhouse-item .about-house .title:hover {
  color: #71b100;
}
.section-more-re .sunhouse-item .more-info-house .place-house:hover a {
  color: #71b100;
}
.section-more-re .sunhouse-item .about-house .text {
  margin-bottom: 0;
  height: 48px;
  overflow: hidden;
}
.section-more-re .sunhouse-item .more-info-house {
  border-top: 1px solid #efefef;
  padding: 15px;
  display: table;
  width: 100%;
}
.section-more-re .sunhouse-item .more-info-house .place-house {
  display: table-cell;
  vertical-align: middle;
}
.section-more-re .sunhouse-item .more-info-house .place-house i,
.section-more-re .sunhouse-item .more-info-house .place-house a {
  margin-bottom: 0;
  padding-right: 7px;
  color: #8b979e;
  transition: all 0.2s ease;
}
.section-more-re .fa-map-marker:before {
  content: "\f041";
}
.section-more-re .sunhouse-item .more-info-house .price {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  font-size: 1.714em;
  color: #71b100;
  font-weight: 700;
  min-width: 120px;
}
